@import "typography.scss";
@import "variables.scss";
@import "mixins.scss";

/////// GENERAL PROPS ////////////

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  user-select: none;
}

img {
  width: 100%;
}

// title of the website
.site_title {
  color: #fff;
  padding: $padding;
}

// Main title text in the page.
.title_text {
  @include title_text;
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

/////// BACKGROUND PROPS ////////////

/// Handles styling for background image.
.background_image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity $anim_timeout ease;
  opacity: 0;

  img {
    filter: blur(30px);
    object-fit: cover;
    width: 150%;
    height: 150%;
    transform: translate3d(-15%, -15%, 0);
  }
}

/////// IMAGE PROPS ////////////

/// container for all the images
.image_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

/// image objects
.image_object {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }

  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 1px #000;
    transition: transform $anim_timeout ease;
    transform: scale(1);

    &:hover {
      transition: transform $anim_timeout ease;
      transform: scale(1.5);
    }
  }

  // make sure featured image doesn't scale up on hover.
  &.featured:hover {
    img {
      &:hover {
        transform: scale(1);
      }
    }
  }

  h1 {
    @include title_text;
    opacity: 0;
    z-index: -1;

    &.featured {
      opacity: 1;
      z-index: 1;
    }
  }
}

/////// COUNTER PROPS ////////////

/// Handles the counter use in the site.
#counter {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);

  // style the text for the counter.
  .counter_text {
    color: $white;
    font-size: 15px;
    line-height: 11px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-right: 28px;
  }

  // the counter dots
  .counter_dots {
    .counter_dot {
      display: inline-block;
      margin-right: 8px;
      border-radius: 2px;
      border: solid 1px $white;
      width: 5px;
      height: 8px;

      &.active {
        background: $white;
      }
    }
  }
}

#counter_addon {
  position: absolute;
  transition: transform 0.5s ease;
  width: 160px;
  height: 80px;
}

/// Metadata for leading to the specific work
.metadata {
  height: 100px;
  width: 109px;
  position: absolute;
  right: $metadata_padding;
  bottom: $metadata_padding;
  color: $white;
  opacity: 0;
  transition: opacity $anim_timeout ease;
  text-transform: uppercase;

  .date {
    text-align: right;
  }

  .cta_button {
    line-height: 120%;
    margin-top: 16px;
    /* identical to box height, or 12px */
    letter-spacing: 0.08em;
    text-transform: uppercase;
    width: 100%;
    background: white;
    color: black;
    padding-top: calc($padding / 2.4);
    padding-bottom: calc($padding / 2.4);
    border-radius: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}

/////// ANIMATION PROPS ////////////
.fade_in {
  transition: opacity $anim_timeout ease;
  opacity: 1;
}