
/// Mixin for the title text.
@mixin title_text {
  position: absolute;
  font-size: 220px;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  line-height: 176px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}