@font-face {
  font-family: 'Tungsten';
  src: url('../assets/fonts/Tungsten-Semibold.woff2') format('woff2'),
  url('../assets/fonts/Tungsten-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tungsten';
  src: url('../assets/fonts/Tungsten-Bold.woff2') format('woff2'),
  url('../assets/fonts/Tungsten-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  font-size: 100%;
  font-family: "Tungsten", sans-serif;
}

.counter_text {
  font-family: "Helvetica", sans-serif;
}

.cta_button {
  text-align: center;
  font-weight: 700;
  font-size: 10px;
}

// title of the website
.site_title {
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 19.2px;
  letter-spacing: 2px;
}